In [29]:
import os
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense

In [30]:
import numpy as np
import pandas as pd

from pandas_datareader import data
import datetime

In [31]:
import pymongo
import pandas as pd
from pymongo import MongoClient

In [32]:
stocks = ["MSFT"]
start = datetime.datetime(1980,1,31)
end = datetime.datetime(2010,12,31)

msft = data.DataReader(stocks, 'yahoo', start, end)
msft.head()

Attributes Adj Close     Close      High       Low      Open        Volume
Symbols         MSFT      MSFT      MSFT      MSFT      MSFT          MSFT
Date
1986-03-13  0.062761  0.097222  0.101562  0.088542  0.088542  1.031789e+09
1986-03-14  0.065003  0.100694  0.102431  0.097222  0.097222  3.081600e+08
1986-03-17  0.066124  0.102431  0.103299  0.100694  0.100694  1.331712e+08
1986-03-18  0.064443  0.099826  0.103299  0.098958  0.102431  6.776640e+07
1986-03-19  0.063322  0.098090  0.100694  0.097222  0.099826  4.789440e+07

In [40]:
msft.to_csv('msft_data.csv')

In [26]:
stocks = ["AMZN"]
start = datetime.datetime(1980,1,31)
end = datetime.datetime(2010,12,31)

amzn= data.DataReader(stocks, 'yahoo', start, end)
amzn.head()

Attributes Adj Close     Close      High       Low      Open      Volume
Symbols         AMZN      AMZN      AMZN      AMZN      AMZN        AMZN
Date
1997-05-15  1.958333  1.958333  2.500000  1.927083  2.437500  72156000.0
1997-05-16  1.729167  1.729167  1.979167  1.708333  1.968750  14700000.0
1997-05-19  1.708333  1.708333  1.770833  1.625000  1.760417   6106800.0
1997-05-20  1.635417  1.635417  1.750000  1.635417  1.729167   5467200.0
1997-05-21  1.427083  1.427083  1.645833  1.375000  1.635417  18853200.0

In [41]:
amzn.to_csv('amzn_data.csv')

In [43]:
stocks = ["ADBE"]
start = datetime.datetime(1980,1,31)
end = datetime.datetime(2010,12,31)

adbe = data.DataReader(stocks, 'yahoo', start, end)
adbe.head()

Attributes Adj Close     Close      High       Low Open      Volume
Symbols         ADBE      ADBE      ADBE      ADBE ADBE        ADBE
Date
1986-08-13  0.153170  0.210938  0.218750  0.210938  0.0  18899200.0
1986-08-14  0.161679  0.222656  0.230469  0.222656  0.0   4160000.0
1986-08-15  0.158843  0.218750  0.222656  0.218750  0.0   4332800.0
1986-08-18  0.153170  0.210938  0.218750  0.210938  0.0   2828800.0
1986-08-19  0.156006  0.214844  0.218750  0.214844  0.0   2060800.0

In [44]:
adbe.to_csv('adbe_data.csv')