In [1]:
import warnings
warnings.filterwarnings('ignore')
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'

In [2]:
import os
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense

In [3]:
import numpy as np
import pandas as pd

from pandas_datareader import data
import datetime

In [4]:
import pymongo
import pandas as pd
from pymongo import MongoClient

In [5]:
stocks = ["MSFT"]
start = datetime.datetime(1980,1,31)
end = datetime.datetime(2019,12,31)

msft = data.DataReader(stocks, 'yahoo', start, end)
msft.tail()

Attributes,Adj Close,Close,High,Low,Open,Volume
Symbols,MSFT,MSFT,MSFT,MSFT,MSFT,MSFT
Date,,,,,,
2019-09-23,139.139999,139.139999,139.630005,138.440002,139.229996,17139300.0
2019-09-24,137.380005,137.380005,140.690002,136.880005,140.360001,29773200.0
2019-09-25,139.360001,139.360001,139.960007,136.029999,137.500000,21382000.0
2019-09-26,139.539993,139.539993,140.179993,138.440002,139.440002,17456600.0
2019-09-27,137.729996,137.729996,140.360001,136.649994,140.149994,22477700.0

In [6]:
msft.to_csv('../resources/msft_data.csv')

In [7]:
stocks = ["AMZN"]
start = datetime.datetime(1980,1,31)
end = datetime.datetime(2019,12,31)

amzn= data.DataReader(stocks, 'yahoo', start, end)
amzn.head()

Attributes Adj Close     Close      High       Low      Open      Volume
Symbols         AMZN      AMZN      AMZN      AMZN      AMZN        AMZN
Date
1997-05-15  1.958333  1.958333  2.500000  1.927083  2.437500  72156000.0
1997-05-16  1.729167  1.729167  1.979167  1.708333  1.968750  14700000.0
1997-05-19  1.708333  1.708333  1.770833  1.625000  1.760417   6106800.0
1997-05-20  1.635417  1.635417  1.750000  1.635417  1.729167   5467200.0
1997-05-21  1.427083  1.427083  1.645833  1.375000  1.635417  18853200.0

In [8]:
amzn.to_csv('../resources/amzn_data.csv')

In [9]:
stocks = ["ADBE"]
start = datetime.datetime(1980,1,31)
end = datetime.datetime(2019,12,31)

adbe = data.DataReader(stocks, 'yahoo', start, end)
adbe.head()

Attributes Adj Close     Close      High       Low Open      Volume
Symbols         ADBE      ADBE      ADBE      ADBE ADBE        ADBE
Date
1986-08-13  0.153170  0.210938  0.218750  0.210938  0.0  18899200.0
1986-08-14  0.161679  0.222656  0.230469  0.222656  0.0   4160000.0
1986-08-15  0.158843  0.218750  0.222656  0.218750  0.0   4332800.0
1986-08-18  0.153170  0.210938  0.218750  0.210938  0.0   2828800.0
1986-08-19  0.156006  0.214844  0.218750  0.214844  0.0   2060800.0

In [10]:
adbe.to_csv('../resources/adbe_data.csv')